.DS_Store
*.swp

# Tuist
app/.build/
app/Derived/
app/*.xcodeproj
app/*.xcworkspace
app/Tuist/.build/
app/Tuist/.package.resolved

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/

# Python
__pycache__/
*.pyc
.venv/
